.__sobremi_foto_div {
    display: flex;
    flex-direction: row;
    width: 80%;
    align-self: center;
    margin-top: 7rem;
    justify-content: space-around;
    
}
.__sobremi_foto {
    object-fit: contain;
    width: 80vh;
}
.__sobremi_saludo {
    font-family: 'Antonio', sans-serif;
    font-size: 5rem;

}
