.__servicios {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 80vh;
}
.__servicios_texto {
    display: flex;
    flex-direction: row;
    margin-top: 15%;
    align-self: center;
    justify-content: space-around;
    text-align: left;
    object-fit: contain;
    color: grey;
    padding: 2rem;
    font-family: 'Antonio', sans-serif;
    line-height: 1.5;
}
.__servicios_texto_items{

}
@media screen and (min-width: 1441px) 
{
    .__servicios_texto {
        font-size: 2.5rem;
        width: 90%;
    }
    .__servicios_texto_item{
        width: 30%;
    }
}
@media screen and (max-width: 1440px) and (min-width: 1021px)
{
    .__servicios_texto {
        font-size: 1.8rem;
        width: 90%;
    }
    .__servicios_texto_items{
        width: 30%;
    }
}
@media screen and (max-width: 1020px) and (min-width: 800px)
{
    .__servicios_texto {
        font-size: 1.8rem;
        width: 70%;
    }
    .__servicios_texto_items{
        width: 30%;
    }
}
@media screen and (max-width: 800px) {
    .__servicios_texto {
        font-size: 1.1rem;
        width: 80%;
    }
    .__servicios_texto_items{
        width: 25%;
    }
}
